a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0; */
  border-bottom: 1px solid #e6e6e6;
  /* margin-bottom: 60px; */
  position: sticky;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
}

.logo {
  margin-left: 30px ;
}
.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header .icon {
    display: none;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

#side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
#side-menu:checked ~ nav{
    max-height: 100%;
}
#side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
#side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
#side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}