
.txt_header {
    width: 12.5rem;
    height: 28px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--black);
}

.sub_txt {
    width: 17rem;
    margin-left: 10px;
    font-size: 16px;
    line-height: 20px;
    color: var(--grey)
}

@media (min-width: 576px) {
    .txt_header {
        width: 25rem;
        height: 28px;
        /* margin-left: 25px; */
        font-family: 'Nunito Sans';
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
    }

    .sub_txt {
        width: auto;
    }
}