.login_header {
    width: 12.5rem;
    height: 28px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--black);

}
.sub_header {
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
} 
#margin_left {
    margin-left: 10px;
}

.reset_password {
    /* position: absolute; */
    /* width: 119px;
    height: 20px; */
    font-weight: 600;
    margin-left: 5rem;
    top: 320px;
    cursor: pointer;
    text-align: right;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--brown);
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.reset_password:hover {
    color: var(--grey);
}


.no_acct {
    margin-top: 20px;
    height: 20px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--white);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cta_link {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    font-feature-settings: 'tnum' on, 'lnum' on;
    cursor: pointer;
    /* color: var(--black) !important;  */
}
.cta_link:hover {
    color: #76B82A;
}

@media (min-width: 576px) {   
    .login_header{
        width: 25rem;
        height: 28px;
        /* margin-left: 25px; */
        font-family: 'Nunito Sans';
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
    }

    .sub_header {
        /* margin-left: 25px; */
        font-size: 16px;
        line-height: 20px;
    }

    #margin_left {
        margin-left: 10px;
    }

    .reset_password {
        position: relative;
        width: 119px;
        height: 20px;
        left: 120px;
        top: 0px;
        cursor: pointer;
        text-align: right;
        font-feature-settings: 'tnum' on, 'lnum' on;
        
    }
        
}