.wrapper {
    width: 100%;
    justify-content: space-between;
}
.login-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 8px;
    gap: 40px;
    width: 90%;
    background: var(--white);
    box-shadow: 0px 2px 6px rgb(0 0 0 / 12%);
    border-radius: 12px;
}

.login_header {
    width: 12.5rem;
    height: 28px;
    margin-left: 10px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--black);
}
.sub_header {
    margin-left: 10px;
    font-size: 16px;
    line-height: 20px;
}
#margin_left {
    margin-left: 10px;
}

.reset_password {
    /* position: absolute; */
    /* width: 119px;
    height: 20px; */
    margin-left: 5.75rem;
    top: 320px;
    cursor: pointer;
    text-align: right;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #76B82A;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.reset_password:hover {
    color: var(--grey);
}
.input {
    box-sizing: border-box;
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;
    margin: 10px auto;
    
    width: 90%;
    background: var(--white);
    border: 1px solid var(--grey-input);
    border-radius: 8px;

}

.btn_login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 14px 16px;
    gap: 16px;
    width: 88%;
    height: 48px;
    background: var(--black);
    border-radius: 6px;
    align-self: stretch;
    flex-grow: 0;
}
.btn_login:hover {
    background: #FFFFFF;
    color: #000000;
}

@media (min-width: 576px) {
    .login-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px;
        gap: 40px;
        width: 464px;
        height: 420px;    
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    
    .login_header{
        width: 25rem;
        height: 28px;
        /* margin-left: 25px; */
        font-family: 'Nunito Sans';
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
    }

    .sub_header {
        /* margin-left: 25px; */
        font-size: 16px;
        line-height: 20px;
    }

    #margin_left {
        margin-left: 10px;
    }

    .label {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px
    }

    .reset_password {
        position: relative;
        width: 119px;
        height: 20px;
        left: 120px;
        top: 0px;
        cursor: pointer;
        text-align: right;
        font-feature-settings: 'tnum' on, 'lnum' on;
        
    }
    
    .input {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        gap: 16px;
        width: 100%;
        height: 52px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0
    }

    .btn_login {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding: 14px 16px;
        gap: 16px;
        width: 98%;
        height: 52px;
        background: #000000;
        color: #FFFFFF;
        border-radius: 6px;
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
        cursor: pointer;
    }
    
}