.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0.5rem;
    padding: 1rem 1rem;
    
}

.child {
    display: inline-block;
    /* padding: 1rem 1rem; */
    /* vertical-align: middle; */
}

@media (min-width: 576px) {   
    .parent {
        display: inline-block;
        margin: 0.5rem;
        padding: 1rem 1rem;
        text-align: center;
    }
    
}