.reset_header {
    width: 12.5rem;
    height: 28px;
    margin-left: 10px;
    margin-bottom: 15px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--black);
}
.txt {
    margin-left: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--grey);
}

.have_acct {
    height: 20px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--grey);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cta_link {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    font-feature-settings: 'tnum' on, 'lnum' on;
    cursor: pointer;
    /* color: var(--black) !important;  */
}

@media ( min-width: 576px) {
    .reset_header {
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
    }
    .txt {
        width:  400px;
    }
}