/*
$primary-black: #000000;
$primary-white: #FFFFFF;
$primary-green: #76B82A;
$primary-grey:  #79787A;
$primary-input_grey: #ADADAD;  */


/* secondary color */
$secondary-black: #333333;

/* primary font */ 
$font-nunito: 'Nunito';
$font-quick: 'Quicksand';