@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand:wght@300;400&display=swap');
@import "./styles/index.css";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


body {
  font-family: 'Nunito', sans-serif;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  /* ... */
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.form-img {
  display: none;
}
.label {
  display: none;
}

.input {
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 16px;
  margin: 10px auto;
  height: 20px;
  width: 60%;
  background: white;
  border: 1px solid gray-light;
  border-radius: 8px;
}

/* Hamburger menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

@media (min-width: 576px ) {
  .input {
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 16px;
    width: 60%;
    height: 40px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0
  }

  .label {
    color: grey;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px
  }

  .form-img {
    display: block;
  }
}