@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand:wght@300;400&display=swap');
@import "./styles/index.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black1: #000000;
  --black2: #333333;
  --white:  #FFFFFF;
  --lemon-green:  #76B82A;
  --grey:  #79787A;
  --grey-input: #ADADAD;
}
body {
  font-family: 'Nunito', sans-serif;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
}

